body {
    margin: 0;
    background-color: #141414;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

/*    CONFIGURACOES DA TELA    */

.conteiner-inicial {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.tela-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela-inicial-titulo {
    color: #fff;
    font-weight: 600;
    font-size: 3.5rem;
}

.tela-inicial-perfis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    list-style: none;
    gap: 2rem;
}

/*    PERFIS    */

.perfil-conteiner {
    width: 170px;
}

.perfil-conteiner-image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 5px solid transparent;
    border-radius: 10px;
}

.perfil-conteiner-image-add {
    display: block;
    width: 100%;
    height: auto;
    border: 5px solid transparent;
    border-radius: 10px;
    opacity: 0.6;
    transition: 0.2s ease;

}

.perfil-conteiner-image-add:hover{
    opacity: 1;
    cursor: pointer;
    border-color: #fff;
}

.perfil-conteiner-image:hover {
    border: 5px solid;
    border-color: #fff;
    cursor: pointer;
    transition: border-color 0.2s ease;
}

.perfil-conteiner-nome {
    font-size: 1.5rem;
    font-weight: 600;
    color: grey;
    margin: .5em 0 0;
}

/*    BOTAO GERENCIAR PERFIS    */

.gerenciar-perfis {
    text-decoration: none;
    color: grey;
    border: 1px solid;
    border-color: grey;
    margin: 4.5em 0 1em;
    padding: .5em 2em
}

.gerenciar-perfis:hover {
    border-color: #fff;
    color: #fff;
    cursor: pointer;
}

.gerenciar-perfis-texto {
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin: 0;
}

/*  BOTÃO TEMA  */    

.light-mode {
    background-color: #f5f5f5;
}

.light-mode .tela-inicial-titulo  {
    color: #000;
}

.light-mode .perfil-conteiner-image:hover{
    border-color: #333;
}

.light-mode .perfil-conteiner-image-add:hover{
    border-color: #333;
}

.light-mode .perfil-conteiner-nome {
    color: #333;
}

.light-mode .gerenciar-perfil {
    color: #333;
    border: #333;
}

.light-mode .gerenciar-perfis{
    border-color: #333;
    color: #333;
}

.light-mode .gerenciar-perfis:hover{
    border-color: #000;
    color: #000;  
}


/*    MEDIA QUERIES    */

@media (max-width: 600px) {
    .tela-inicial-titulo {
        font-size: 2.5rem;
        margin: 1rem 0;
    }

    .tela-inicial-perfis {
        gap: 2rem;
        margin: 1rem 0;
    }


    .perfil-conteiner-nome {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .tela-inicial-titulo {
        font-size: 1.5rem;
        margin: 1rem 0;

    }

    .tela-inicial-perfis {
        gap: 1rem;
        margin: 1rem 0;
    }

    .perfil-conteiner {
        width: 90px;
    }

    .perfil-conteiner-nome {
        font-size: 0.9rem;
    }

    .gerenciar-perfis-texto{
        font-size: 1rem;
    }
}